.input-wrapper {
  border: 1px solid oklch(87.2% 0.01 258.338);
}

.input-wrapper:has(input:focus) {
  border: 1px solid transparent;
  background:
    linear-gradient(var(--card), var(--card)) padding-box,
    var(--primary-gradient) border-box;
}
